<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="telephone=no" name="format-detection">
{{#if title}}
<title>{{capitalizeAll title}} | {{capitalizeAll data.data.app.global.meta.title}}</title>
{{else}}
<title>{{capitalizeAll site.title}}</title>
{{/if}}
{{#if description}}
<meta content="{{description}}" name="description">
{{else}}
<meta content="{{data.data.app.global.meta.description}}" name="description">
{{/if}}
{{>"global/pwa-meta"}}
<link href="/assets/images/favicon/apple-touch-icon.png" rel="apple-touch-icon">
<link href="/assets/images/favicon/favicon.png" rel="icon" sizes="32x32" type="image/png">
<link href="/assets/styles/critical.css" rel="stylesheet" inline>
<link href="/assets/styles/master.css?rev=!TIMESTAMP!" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" rel="stylesheet" />